[submodule "extern/cli11"]
	path = extern/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/tlx"]
	path = extern/tlx
	url = https://github.com/tlx/tlx
[submodule "extern/catch"]
	path = extern/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/debug_assert"]
	path = extern/debug_assert
	url = https://github.com/foonathan/debug_assert.git
[submodule "extern/backward-cpp"]
	path = extern/backward-cpp
	url = https://github.com/niklas-uhl/backward-cpp-mpi.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/cereal"]
	path = extern/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/gtest-mpi-listener"]
	path = extern/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
[submodule "extern/message-queue"]
	path = extern/message-queue
	url = https://github.com/niklas-uhl/message-queue
[submodule "extern/kassert"]
	path = extern/kassert
	url = https://github.com/kamping-site/kassert
[submodule "extern/utils_tm"]
	path = extern/utils_tm
	url = https://github.com/toobiased/utils_tm
[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "extern/sanitizers-cmake"]
	path = extern/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "extern/bytehamster_util"]
	path = extern/bytehamster_util
	url = https://github.com/ByteHamster/Util
[submodule "extern/parlaylib"]
	path = extern/parlaylib
	url = https://github.com/niklas-uhl/parlaylib
